mylessons_backend/mylessons-7b4ed-firebase-adminsdk-fbsvc-9390c43ae3.json
__pycache__/
*.pyc
*.pyo
*.pyd
mylessons_backend/google_client_secret.json
mylessons_backend/my-lessons-460316-firebase-adminsdk-fbsvc-3a1cf73ff7.json
mylessons_backend/.env
mylessons_backend/.env_staging
mylessons_backend/.env_production
mylessons_backend/.env_development
