<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368273500882-813i1dn6kojsob4dmlbd3i26lgrsmh0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368273500882-813i1dn6kojsob4dmlbd3i26lgrsmh0a</string>
	<key>API_KEY</key>
	<string>AIzaSyARpXszWp2ZunONwZugrEqC7IXEZpY5_ms</string>
	<key>GCM_SENDER_ID</key>
	<string>368273500882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mylessonsFrontend</string>
	<key>PROJECT_ID</key>
	<string>mylessons-7b4ed</string>
	<key>STORAGE_BUCKET</key>
	<string>mylessons-7b4ed.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368273500882:ios:709b94d918b5ef1ef15b0b</string>
</dict>
</plist>